

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Headlines</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>
    <h2>Current weather</h2>
<p>City: <b>{{weather.city}}, {{weather.country}}</b></p>
<p>{{weather.description}} | {{weather.temperature}}&#8451;</p>
<form action="/" method="POST">
  <input type="text" name="city" placeholder="weather search">
  <input type="submit" value="Submit">
</form>
<p>The last trade price of {{stock}} is {{stockprice}}</b></p>
<form action="/" method="POST">
  <input type="text" name="ticker" placeholder="stock search">
  <input type="submit" value="Submit">
</form>
<h2>Headlines</h2>
    <form action="/" method="POST">
      <input type="text" name="publication" placeholder="search for cnn, fox, or bbc"/>
      <input type="submit" name="" value="Submit">
    </form>
    {% for article in articles %}
    <b><a href="{{article.link}}">{{article.title}}</a></b><br/>
    <i>{{article.published}}</i><br/>
    <p>{{article.summary}}</p>
    <hr />
    {% endfor %}
  </body>
</html>
